*{
  margin-top: 2%;
}
h2  {
  font-family: GlacialIndifference-Bold;
  font-size: 70px;
  text-align: center;
  padding-bottom:3% ;
}
.section1{
    color:#212121;
    font-size: 20px;
    position: relative;
    overflow: hidden;    
}
.section1 span {
  display: block;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 900px;
  height: 100%;
  margin: auto;
}
.mySlides img{
    max-width: 1920px;
    width: 100%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: Poppins-ExtraBold;
    font-size: 40px;
  }
  .top-left-up {
    font-family: Poppins-ExtraBold;
    font-size: 40px;
  }
  .top-left-down {
    font-family: Montserrat-Regular;
    font-size: 13px;
  }
/* Top right text */
.top-right {
    max-width: 280px;
    width: 100%;
    position: absolute;
    top: 8px;
    right: 20px;
  }
  .top-right-up {
    text-align: center;
    font-family: Poppins-ExtraBold;
    font-size: 158.3px; 
  }
  .top-right-down {
    font-family: Poppins-ExtraBold;
    font-size: 43.17px;
    color: #373737;
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 25px;
    right: 16px; 
    box-sizing: border-box;
    border-style:solid ;
    border-color: #E93656;
  }
  .bottom-right span{
    display: inline-block;
    font-family: Montserrat-Bold;
    font-size: 24px;
    margin-bottom: 2%;
  }
  .bottom-right-pink {
    color: #E93656;
  }
  /* Centered text */
.centered {
  max-width: 582px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -80%);
  }
  .centered1 {
    font-family: GlacialIndifference-Regular;
    font-size: 49.7px;
    margin-bottom: 4%;
  }
  .centered2 {
    font-family:GlacialIndifference-Bold ;
    font-size:61px; 
  }
  .centered3 {
    font-family: GlacialIndifference-Regular ;
    font-size: 23.29px;
    margin: 2%;
  }
  .icons:hover {
    width: 8%;
  }
  .icons-container {
    margin-top: 4%;
  }
  /* section 2*/
  /* bar chart */
  .section2{
    margin: 8% 20% 8% 20%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .left-cont {
    text-align: end;
  }
  .progress {
    width: 100%;
    height: 9px;
    position: relative;
    background-color: #ddd;
    margin-bottom: 8%;
  }
  .myBar {
    background-color:#E93656;
    height: 9px;
    position: absolute;
  }
.about-me{
    max-width: 300px;
    width:100%;
    margin-left: 5%;
  }
  .about-me h1{
    font-family: GlacialIndifference-Bold;
    font-size: 40px;
  }
  .about-me h4 {
    font-family: muli-light;
    font-size: 14px;
    color: #DAAE19;
  }
  .about-me h6 {
    font-family: GlacialIndifference-Bold;
    font-size: 20px;
    margin-bottom: 2%;
  }
  .about-me p {
    font-family: Muli-Regular ;
    font-size: 15px ;
    color: #555555;
    margin: 8% 0 8% 0;
  }
  .chart-percentage {
    color: #E93656;
  }
  .hire-me {
    box-sizing: border-box;
    width: 50%;
    height: 25%;
    background-color:#E93656 ;
    border: 15px solid #E93656 ;
    font-family: GlacialIndifference-Bold;
    font-size: 15px;
    color: white;
  }
  .hire-me:hover {
    background-color: #991e34;
    border:15px solid  #991e34;
  }
  .section2-img {
    width: 100%;
  }
  .contact-info{
      background-color: #131A36;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      height: 210px;
  }
  .contact {
    display: flex;
    align-items: center;
    width: 20%;
  }
  .contact div {
    margin-left: 5%;
  }
  .contact-info h6 {
    font-family: GlacialIndifference-Bold;
    font-size: 25px;
    margin-bottom: 5%;
  }
  .contact-info span{
    font-family: muli-light;
    font-size: 14px;
  }
  /* section 3*/
  .grid {
    padding: 5% 0 5% 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 2%;
    column-gap: 2% ;
    width: fit-content;
  }
  .logo-holder {
    background-color: #FAFAFA;
    width: 285px;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    position:relative;
  }
  .logo-holder span {
    padding-top: 5%;
    font-family: GlacialIndifference-Bold;
    font-size: 22px;
  }
  .grid-item .text{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text span {
    display: block;
    font-family: GlacialIndifference-Bold;
    font-size: 22px;
    padding-bottom: 5% ;
  }
  .text p {
    font-family: Muli-Light;
    font-size: 14px;
    padding: 5%;
    text-align: center;
  }
  .grid-item .hide {
    transition: 0.2s  ease-out;
  }
  .grid-item:hover .text {
    width: 285px;
    height: 365px;
    background-color: #15263E;
    color: #ECECEC;
    opacity:0.98;
  }
  /* section 4*/
  /*.section4{
    margin-top: 5% 0 5% 0;
  }
  .background{
    position: absolute;
    width: 100%;
    height: 60%;
  }
  .sliderContainer{
    position: relative;
  }
  .outline{
    width: 100px;
    height: 100px;
    border: 2px dotted;
    border-color: rgb(3, 3, 3);
    border-radius: 50%;
  } 
  .quoteImg{ 
    width: 90px;
    border-radius: 50%;
    padding: 5px
  }
  .quote1{
    width: 934px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.quoteText{
    width: 497px;
  }*/
/* section 5*/
.section5 {
  margin: 0 auto;
  padding-bottom: 5%;
  width: 80%;
}
.projects {
  display: flex;
  justify-content:space-around ;
}
.tab {
  background-color: #15263E;
  width: 10%;
  height: fit-content;
  padding: 3% 2% 3% 2%;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding-bottom: 2%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-family: GlacialIndifference-Bold;
  font-size: 20px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0c192b;
  width: 100%;
}
/* Create an active/current "tab button" class */
.tab button.active {
  color: #E93656;
}
/* Style the tab content */
.tabcontent {
  padding: 0px 12px;
  width: 50%;
  height: 500px; 
  position: relative;
}
.content-img{
  width: 100%;
  height: 98%;
}
.content-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content-text h3{ 
  font-family: GlacialIndifference-Bold;
  font-size: 23px;
  color: #FFFFFF;
}
.content-text span {
  font-family: muli-light;
  font-size: 9px;
  color: #DDDDDD;
  display: block;
  margin: 3% 0 3% 0;
}
.content-text img {
  padding: 3%;
  border: 3px solid #E93656;
  border-radius: 50% ;
}
/* section 6*/
.section6 {
  margin:  0 auto;
}
.section6 h5 {
  font-family: GlacialIndifference-Bold;
  font-size: 13px;
  color: #2ED279;
  text-align: center;
}
  .article-content{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10%;
  }
.article-content-middle {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-right: 10%;
}
.article-text {
  width: fit-content;
  background-color: #FAFAFA;
  padding: 3% 2% 3% 4%;
}
.article-text h6 {
  font-family: muli-light;
  font-size: 14px;
  color: #888888;
  margin: 2% 0 2% 0;
}
.article-text h4 {
  font-family: GlacialIndifference-Bold;
  font-size: 40px;
  margin: 2% 0 5% 0;
}
.article-text p {
  width: 80%;
  font-family: muli-light;
  font-size: 16px;
  color: #494949;
}
.years {
  font-family: Jaapokki-Regular;
  font-size: 30px;
  color: #E93656;
  background-color: #15263E;
}
.years span{
  display: block;
  transform:rotateX(90deg);
}
.article-img {
  width: 100%;
}
  /* section 7*/
  .section7 {
    margin: 5% 0;
  }
  .section7 h5{
    font-family: GlacialIndifference-Bold;
    font-size: 13px;
    color: #2ED279;
    text-align: center;
    margin-top: 5%;
  }
  .user-comments{
    display: flex;
    justify-content:space-evenly; 
  }
  .team-item {
    position:relative;
  }
  .team-item .text {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
  }
  .team-item .hide  {
    transition: opacity 0.2s  ease-out;
  }
  .team-item:hover .text {
    width: 230px;
    height: 190px;
    border: 4px solid #E93656;
    opacity:0.98;
  }
  .avatar{
    width: 100px;
  }
  /* section 8*/
  .section8 {
    margin: 0 auto; 
    background-color: #000000;
  }
 .contact-form {
   margin: 0 auto;
   width: 50%;
 }
 .contact-form-title h3 {
   font-family: Jaapokki-Regular;
   font-size: 43px;
   padding-top: 5%;
   color: white;
 }
 .contact-form-title h5 {
   font-family: Roboto-Light;
   font-size: 17px;
   color: #EEEEEE;
   margin-bottom: 5%;
 }
 
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} 
/* footer*/
.footer {
  background-color: #282828;
}
.footer-container {
  width: 50%;
  margin: 0 auto;
}
.footer-title {
  text-align: center;
  font-family: Poppins-ExtraBold;
  font-size: 55px;
  margin: 5% 0 ;
  color: white;
}
.footer-content p {
  color: #A5A5A5;
  font-family: Roboto-Regular;
  font-size: 17px;
}
.rights p{
  font-family: muli-light;
  font-size: 15px;
  color: white;
}



.modal-body {padding: 2px 16px;}
